/* .carousel-container {
  background: rgba(0, 0, 0, 0.5);
  width: 355px;
  height: 200px;
}
.carousel-content {
  max-width: 400px;
  width: 355px;
  margin-right: 35px;
}
  
  .carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-image.active {
    transform: scale(1.2); 
  }

   */