* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  flex-direction: column;
  
  justify-items: center;
  display: flex;
  align-items: center;
}

.headerNav {
  width:100vw;
  position: sticky;
  top: 0;
  z-index: 1000;
}
  
.row{
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
