.containerCard {
	align-items: center;
    justify-content: center;

}

.image {
	/* flex-basis: 40%; */
	margin-right: 20px;
}

/* .image img {
	width: 100%;
	height: auto;
} */

.text {
	/* flex-basis: 55%; */
}

.text h1 {
	margin-top: 0;
	margin-bottom: 10px;
	
}

.text p {
	margin-bottom: 10px;
}


.icons {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.icons i {
	margin-right: 10px;
	font-size: 24px;
	color: #333;
}